<%= render 'shared/page_title', title: 'Log in' %>

<div class="row">
  <div class="well col-md-4 col-md-offset-4">
    <%= form_tag '/login' do %>
      
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      
      <%= label_tag :password %>
      <%= password_field_tag :password, nil,class: "form-control", placeholder: "Password"%>
      
      <%= button_tag 'Login', class: "btn btn-success" %>
      <%= link_to "Cancel", root_path, class:"btn btn-danger" %>
      
      <%= link_to 'Not a member? -Register Now!', register_path %>
    <% end %>
    
  </div>
  
</div>